@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

.container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: #ffc0cb;
  border-radius: 10px;
  border: 2px solid #000000;
}

.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 240px;
  background-color: white;
  border-radius: 10px;
  font-size: 12px;
  border: 2px solid #000000;
}

.button {
  background-color: #90ee90;
  border-radius: 15px;
  font-size: 7px;
  outline: none;
  border: none;
  text-decoration: none;
  box-shadow: 2px 5px #777;
  font-family: "Press Start 2P", cursive;
}
