@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}

button {
  font-family: 'Kiwi Maru', serif;
  font-size: 1rem;
  line-height: 2.5em;
  padding: 0 1.5em;
  background: sandybrown;
  box-shadow: inset 0 -0.125rem rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform-origin: 100% 100%;
}

button:focus {
  outline: 0;
}

.shadow {
  margin-top: -0.325rem;
  width: 100%;
  height: 0.75rem;
  background: radial-gradient(closest-side, gainsboro, transparent);
  opacity: 0;
}